@font-face {
  font-family: "MyriadPro";
  src: local("MyriadPro"),
       local("MyriadPro Regular"),
       url("../fonts/MyriadPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro";
  src: local("MyriadPro-Bold"),
       local("MyriadPro Bold"),
       url("../fonts/MyriadPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro Condenced";
  src: local("MyriadPro Condenced"),
       local("MyriadPro-Condenced"),
       url("../fonts/MyriadPro-Cond.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro Condenced";
  src: local("MyriadPro Bold Condenced"),
       local("MyriadPro-BoldCondenced"),
       url("../fonts/MyriadPro-BoldCond.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab Medium"),
       local("RobotoSlab-Medium"),
       url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
